
# Logs
logs
*.log

# json-server db
db.json

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Build folder
build

package-lock.json
!README.md
!tools

public

!.gitignore